<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
          Taner is an undergraduate researcher at Stony Brook University pursuing his Bachelor’s in Computer Science and Applied
          Mathematics and Statistics. In his work, he seeks to apply Software Engineering principles to architect better data and
          governance models within applications. Taner specializes in and is passionate about using blockchain and distributed
          ledger technologies in his work and research to find ways to better secure users’ rights and property.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
          <li>
            Selected to receive award for volunteer leadership in providing Computer Science education for students K-12 at kidOYO
            in partnership with the Department of Computer Science and the College of Engineering and Applied Sciences at Stony
            Brook University.
          </li>
          <li>
            Presented research on the benefits of health-tracking wearables to AIG, a Fortune 500 Insurance company.
          </li>
          <li>
            Researching and creating proof-of-concept of a bridge between EOSIO and ETH blockchains to improve speed and reduce development hours.
          </li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
