<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Blockchain</b>. It's an exciting time for blockchain & DLT. I'm working through several online classes, university research, and experiential internships.
			  </li>
			  <li>
					<b>Building multiplayer apps</b>. I find networked games and apps fascinating in the way that others can interact with
					each other through something you have built. I enjoyed making multiplayer games as a kid, and hope to ramp up this hobby
					more in the future. 
				</li>
			  <li>
				  <b>Mountain Biking</b>. I enjoy getting out on a mountain bike whenever I get the chance to.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
					Writing C++ Smart Contract for the online review platform Piña, which runs on a blockchain and thus allows for better
					incentivization mechanisms for writing reviews.
				</li>
  			<li>
          A Blockchain Developer Monthly newsletter I have been writing on (Medium)[https://medium.com/@taner.s].
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
					​Selected to receive award for volunteer leadership in providing Computer Science education for students K-12 at kidOYO
					in partnership with the Department of Computer Science and the College of Engineering and Applied Sciences at Stony
					Brook University.
				</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
